<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <% @users.each do |user| %>
            <div class="col-sm-12 col-md-8 col-lg-4 mt-5 text-center">
                <%= attachment_image_tag user, :profile_image, size:"60x60", format:'jpeg', fallback:"no_image.jpg", class:"rounded-circle" %>
                <%= link_to user_path(user.id) do %>
                    <%= user.name %>
                <% end %>
            </div>
        <% end %>
        <div class="mt-5">
          <%= paginate @users %>
        </div>
    </div>
</div>