<div class="container">
    <div class="row slick-image">
        <div class="slick-outer col px-0">
            <%= image_tag 'Leaf(L).jpg', class:"img-fluid" %>
            <div class="slick-content">
                <h1 class="text-center text-white">Monophyllaea</h1>
            </div>
        </div>
        <div class="slick-outer col px-0">
            <%= image_tag 'Leaf(L).jpg', class:"img-fluid" %>
            <div class="slick-content-second py-2 px-2">
                <h1 class="text-center text-white">Monophyllaea</h1>
                <h3 class="text-center text-white">~モノフィレア~</h3>
                <h6 class="text-center text-white">１枚の子葉を無限に成長させ<br />
                その葉だけで一生を過ごす植物<br />
                その植物のように、1人に1つの人生を<br />
                理想の自分に向かって成長し続ける。<br />
                という想いを込めています。
                </h6>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-12 col-md-4 col-lg-4 pl-0">
            <%= image_tag 'books-color(s).jpg', class:"img-fluid" %>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center">
            <% if user_signed_in? %>
            <ul>
                <li>ヘッダーの[New Title]から学びを登録できます。</li>
                <li>その後インプットもしくはメモを保存できます。</li>
                <li>インプットは2週間の期限が自動で設定されます。<br />
                その期間に3回アウトプットを登録しましょう。</li>
            </ul>
            <% else %>
            <ul>
                <li>[Sign up]もしくは[Log in]後、機能が使えるようになります。</li>
                <li>学び「タイトル」の登録</li>
                <li>「インプット」「アウトプット」「メモ」の登録</li>
                <li>コメント及びナイスボタン</li>
            </ul>
            <% end %>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center">
            <h4>How many reference books have you read so far?</h4>
        </div>
    </div>
    <div class="row bg-secondary">
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center text-white">
            <h4>How many of those books do you remember?</h4>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center text-white">
            <ul>
                <li>インプットされた情報は短期記憶として海馬に保存されます。</li>
                <li>その期間は約2週間～4週間程度とされています。</li>
                <li>頻繁に使用する情報は長期記憶として側頭葉に保存されます。</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-right pr-0">
            <%= image_tag 'books-dark(s).jpg', class:"img-fluid" %>
        </div>
    </div>
</div>