<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <%= image_tag 'books-color(s).jpg', size: "350x250" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= image_tag 'books-dark(s).jpg', size: "350x250" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>