<div class="container">
    <div class="row">
        <div class="main-img col px-0">
            <%= image_tag 'Leaf(L).jpg', class:"img-fluid" %>
            <div class="cover-text">
                <h1 class="text-center text-white">Monophyllaea</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pl-0">
            <%= image_tag 'books-color(s).jpg', class:"img-fluid" %>
        </div>
        <div class="col d-flex align-items-center">
            <ul>
                <li>Monophyllaea ~モノフィレア~</li>
                <li class="list-unstyled">1枚の葉を成長させ続ける植物です。</li>
                <li>脳内世界で学びを止めず</li>
                <li class="list-unstyled">現実世界にアウトプットしていくという意味が込められてます。</li>
            </ul>
        </div>
        <div class="col d-flex align-items-center">
            <h4>How many reference books have you read so far?</h4>
        </div>
    </div>
    <div class="row bg-secondary">
        <div class="col d-flex align-items-center text-white">
            <h4>How many of those books do you remember?</h4>
        </div>
        <div class="col d-flex align-items-center text-white">
            <ul>
                <li>インプットされた情報は短期記憶として海馬に保存されます。</li>
                <li>その期間は約2週間～4週間程度とされています。</li>
                <li>頻繁に使用する情報は長期記憶として側頭葉に保存されます。</li>
            </ul>
        </div>
        <div class="col text-right pr-0">
            <%= image_tag 'books-dark(s).jpg', class:"img-fluid" %>
        </div>
    </div>
</div>