<div class="container">
    <div class="row slick-image">
        <div class="slick-outer col px-0">
            <%= image_tag 'Leaf(L).jpg', class:"img-fluid" %>
            <div class="slick-content">
            <h1 class="text-center text-white">Monophyllaea</h1>
            </div>
        </div>
        <div class="slick-outer">
            <%= image_tag 'Leaf(L).jpg', class:"img-fluid" %>
            <div class="slick-content">
            <p class="text-center text-dark"><span class="h1">Monophyllaea</span><br />
            <span class="h3">~モノフィレア~</span><br />
            １枚の子葉を無限に成長させ、その葉だけで一生を過ごす植物<br />
            その植物のように、1人に1つの人生を<br />
            理想の自分に向かって成長し続ける。<br />
            という想いを込めています。
            </p>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-12 col-md-4 col-lg-4 pl-0">
            <%= image_tag 'books-color(s).jpg', class:"img-fluid" %>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center">
            <ul>
                <li>Monophyllaea ~モノフィレア~<br />
                1枚の葉を成長させ続ける植物です。</li>
                <li>脳内世界で学びを止めず<br />
                現実世界にアウトプットし続ける想いが込められてます。</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center">
            <h4>How many reference books have you read so far?</h4>
        </div>
    </div>
    <div class="row bg-secondary">
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center text-white">
            <h4>How many of those books do you remember?</h4>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center text-white">
            <ul>
                <li>インプットされた情報は短期記憶として海馬に保存されます。</li>
                <li>その期間は約2週間～4週間程度とされています。</li>
                <li>頻繁に使用する情報は長期記憶として側頭葉に保存されます。</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-right pr-0">
            <%= image_tag 'books-dark(s).jpg', class:"img-fluid" %>
        </div>
    </div>
</div>