<div class="container">
    <div class="row">
        <div class="col">
            <% @titles.each do |title| %>
            <%= attachment_image_tag title_image, :image %>
            <%= attachment_image_tag title.user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %>
            <%= title.user.name %>
        </div>
    </div>
</div>